<!-- container -->
<div class="containers">
    <!-- calculator-layout -->
  <div class="card" [ngClass] = "{'darkmode': toggle}">
      <!-- display screen -->
    <input type="text" class="display" [ngClass] = "{'darkmode': toggle}">
    <!-- buttons -->
    <div class="card-body">
          <h1>
            <input type="button" value="AC">
            <input type="button" value="+/-">
            <input type="button" value="%">
            <input type="button" value="/">
          </h1>
          <h1>
            <input type="button" value="7">
            <input type="button" value="8">
            <input type="button" value="9">
            <input type="button" value="*">
          </h1>
          <h1>
            <input type="button" value="4">
            <input type="button" value="5">
            <input type="button" value="6">
            <input type="button" value="-">
          </h1>
          <h1>
            <input type="button" value="1">
            <input type="button" value="2">
            <input type="button" value="3">
            <input type="button" value="+">
          </h1>
          <h1>
            <input type="button" value="0">
            <input type="button" value=".">
            <input type="button" value=" ">
            <input type="button" value="=">
          </h1>
          <!-- Toggle -->
          <button (click)= "toggle = !toggle"><i class="fas fa-adjust"></i></button>
    </div>
  </div>
</div>