/* container */
.containers{
  margin-left: 30vw;
  margin-top: 10vh;
}
.card{
  width: 45vw;
  height: 90vh;
}

/* display screen */
.display{
  height: 80vh;
  line-height: 1.2;
  text-align: right;
  color: #8a2be2;
  font-size: 3em;
}

/* toggle color */
.darkmode{
  background-color: #000000;
}
.darkmode p {
color: #ffffff;
}
.darkmode .display {
color: #8a2be2;
}
.mat-fab {
background-color: gray;
color: #000000;
}
/* Toggle button */
#toggle {
margin-left: 19vw;
font-size: 2em;
}
/* value button */
p{
text-decoration: none;
color: #000000;
}
h1{
  display: grid;
  grid-template-columns: repeat(7,6vw);
  justify-items: center;
  cursor: pointer;
}